
<ion-view view-title="Descripcion">
  <ion-content class="color">
     <div class="list card">
          <ion-item ng-repeat="items in imagenes">  
              
          <div class="list card">

          <div class="item item-avatar">
            <img src="img/img.png"/>
            <h2>{{items.name}}</h2>
            <p>{{items.label}}</p>
          </div>

          <div class="item item-image">
            <img src="http://www.planificaciondeportiva.es/{{items.uri}}">
          </div>
        </div>
        </ion-item>
  </div>

  </ion-content>
</ion-view>