<ion-view view-title="Home"  >

  <ion-content class="color" id="contenido">

	  <div class="row">
		<div id="centro" class="responsive-md">
			<img src="../img/logo.png" >
		</div>

	 </div>

	<div class="row">
	  	<div class="responsive-md" id="centro">
			<div id="ver">		  	
				<a href="#/app/playlists" class="button button-positive">Ver categorías</a>
			</div>
		</br>
			<div id="subir" >
		  	<a href="#" class="button button-positive" disabled>Subir foto</a>
			</div>

	  	</div>
	</div>

  </ion-content>
</ion-view>