#contenido{
	margin: 0 auto;
	height: 100%;
}

.color{
	background-color: #383838;
}
#top{
	padding-top: 20%;
}
#ver {
	padding-top: 20%;
}
#centro{
	margin: 0 auto;
}

#fondo{
	background-color: rgba(153, 0, 51);
}
body{
	font-family: 'Lato', sans-serif;
}